@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
$gray: #d3d3d3;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // color-scheme: light dark;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}
h1 {
  color: #000;
  text-align: center;
  padding-top: 10rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  opacity: 88%;
}

// .apps {
//   display: flex;
//   img {
//     width: 3rem;
//   }
//   a {
//     font-size: 1.25rem;
//     letter-spacing: -0.02em;
//     font-family: Apple SD Gothic Neo;
//     text-decoration: none;
//   }
// }

.material-symbols-outlined {
  position: absolute;
  top: 3.625rem;
  left: 1.25rem;
  margin: 0;
}
.search {
  position: relative;
  width: 33.75rem;
  margin: auto;
  padding-top: 3rem;
  text-align: center;
  #name {
    background-color: $gray;
    width: 100%;
    height: 2.75rem;
    padding-inline: 3.5rem;
    border-radius: 62.4375rem;
    border: 0;
    font-size: 18px;
    font-family: "Spoqa Han Sans Neo", "sans-serif";
  }
  #name:focus {
    outline: solid;
  }
}

.works {
  display: flex;
  ul {
    margin: auto;
    padding-inline: 0;
    vertical-align: center;
    padding-top: 1.75rem;
    // background-color: red;
    li {
      display: inline-block;
      // position: relative;
      padding-block: 0.5rem;
      padding-inline: 1.5rem;
      // background-color: yellow;
      a {
        display: block;
        position: relative;
        padding-bottom: 2rem;
        margin-inline: 0;
        color: #000;
        font-family: "Spoqa Han Sans Neo", "sans-serif";
        span {
          position: absolute;
          bottom: 0;
          left: 50%;
          opacity: 0.75;
          line-height: 1.462em;
          white-space: nowrap;
          transform: translate(-50%, 0);
        }
        .box {
          display: flex;
          align-items: center;
          background-color: $gray;
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 999px;
        }
        img {
          display: flex;
          margin: auto;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 1px;
        }
      }
    }
  }
}
