@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: #39342f;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* 인터넷익스플로러 */
  -moz-user-select: none;
       user-select: none;
}

#logoda {
  width: 313px;
  height: auto;
}

.section {
  max-width: 59.75rem;
  min-width: 956px;
  margin: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  height: 108px;
  align-items: center;
}
.head a {
  margin: 0;
  cursor: pointer;
}
.head .search {
  display: flex;
  align-items: center;
  position: relative;
}
.head .search #input_form {
  width: 14rem;
  height: 2rem;
  padding-left: 12px;
  border: 2.25px solid #39342f;
  font-size: 14px;
}
.head .search #input_form:focus {
  outline: none;
}
.head .search .material-symbols-outlined {
  background-color: #39342f;
  position: absolute;
  height: 32px;
  padding: 4px;
  color: hsla(0, 0%, 100%, 0.92);
  right: 0px;
}

.top_bar {
  background-color: #39342f;
  padding-left: 1.75rem;
  padding-block: 14px;
  display: flex;
  gap: 24px;
}
.top_bar a {
  color: hsla(0, 0%, 100%, 0.92);
  text-decoration: none;
  font-weight: 500;
}
.top_bar hr {
  border-left: thin solid hsla(0, 0%, 100%, 0.92);
  border-right: 0;
}

.categories {
  max-width: 710px;
}
.categories .category {
  padding-top: 32px;
  padding-bottom: 12px;
}
.categories .category hr {
  margin-block: 4px;
  border-top: 2px solid #39342f;
  border-bottom: 0;
}
.categories .category .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories .category .bar .title {
  font-weight: 600;
  color: #39342f;
}
.categories .category .bar #title {
  display: flex;
  gap: 16px;
}
.categories .category .bar #title a {
  text-decoration: none;
  color: #39342f;
}
.categories .category .bar #title_best {
  opacity: 40%;
}
.categories .category .bar .arrow {
  display: flex;
  color: hsla(0, 0%, 100%, 0.92);
  gap: 1.5px;
  cursor: pointer;
}
.categories .category .bar .arrow p {
  background-color: #39342f;
  padding: 1px 6px;
  font-size: 14px;
  font-weight: 500;
}

.arrow p:hover {
  opacity: 0.74;
}

.nts .nt {
  cursor: pointer;
  display: flex;
  padding: 8px 20px;
  justify-content: space-between;
  align-items: center;
}
.nts .nt_category {
  font-weight: 600;
  font-size: 14px;
}
.nts .nt_title {
  width: 443px;
  font-size: 14px;
}
.nts .nt .txt_light {
  font-size: 13px;
}
.nts .nt_date {
  font-weight: 200;
  opacity: 60%;
}
.nts .nt_view {
  font-weight: 300;
  color: orangered;
}

.best .brds {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.best .brds .brd {
  display: flex;
  width: 224px;
  height: 142px;
  cursor: pointer;
}
.best .brds .brd img {
  position: absolute;
  width: 224px;
  height: 142px;
  -o-object-fit: cover;
     object-fit: cover;
}
.best .brds .brd .brd_txt {
  background-color: hsla(30, 10%, 20%, 0.82);
  position: relative;
  bottom: -88px;
  width: 224px;
  height: 54px;
  display: flex;
  padding-top: 1.95px;
}
.best .brds .brd .brd_txt p {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
}

.gals .gal {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 24px;
  cursor: pointer;
}
.gals .gal img {
  width: 108px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gals .gal .gal_txts .gal_txt {
  display: flex;
  gap: 12px;
  font-size: 14px;
}
.gals .gal .gal_txts .gal_view {
  font-weight: 300;
  color: orangered;
}
.gals .gal .gal_txts .gal_etc {
  padding-top: 4px;
  font-size: 12px;
  font-weight: 200;
  opacity: 60%;
}

.nt:hover {
  background-color: hsla(30, 10%, 20%, 0.1);
  transition: all 0.3s ease;
}

.brd:hover {
  opacity: 65%;
  transition: all 0.3s ease;
}

.gal:hover {
  background-color: hsla(30, 10%, 20%, 0.1);
  transition: all 0.3s ease;
}

.second {
  display: flex;
  justify-content: space-between;
}
.second .login-wrapper {
  width: 232px;
  height: 212px;
  margin-top: 12px;
  padding: 20px 16px;
  box-sizing: border-box;
  border: 1px solid hsla(30, 10%, 20%, 0.25);
}

.logoo img {
  width: 200px;
  display: flex;
  margin: auto;
  padding-top: 28px;
}

.login-wrapper > h2 {
  color: #39342f;
}

#login-form > input {
  width: 100%;
  height: 40px;
  padding: 0px 12px;
  box-sizing: border-box;
  margin-bottom: 4px;
  border: 1px solid #39342f;
  background-color: hsla(0, 0%, 100%, 0.92);
}

#login-form > input::-moz-placeholder {
  color: #d2d2d2;
}

#login-form > input::placeholder {
  color: #d2d2d2;
}

#login-form > input[type=submit] {
  color: hsla(0, 0%, 100%, 0.92);
  font-size: 16px;
  font-weight: 600;
  background-color: #39342f;
  margin-top: 20px;
}

#login-form > input[type=checkbox] {
  display: none;
}

#login-form > label {
  color: #999999;
  font-size: 12px;
}

#login-form input[type=checkbox] + label {
  cursor: pointer;
  background-image: url("checkbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#login-form input[type=checkbox]:checked + label {
  background-image: url("checkbox-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.rank {
  margin-top: 16px;
  padding-inline: 16px;
  border: 1px solid #39342f;
}
.rank_title {
  padding-block: 16px;
  font-size: 14px;
  font-weight: 600;
}
.rank hr {
  padding-bottom: 16px;
  border-bottom: 0;
  border-inline: 0;
  border-top: dashed 1px #39342f;
}
.rank_lists .list {
  padding-bottom: 8px;
  justify-content: space-between;
  display: flex;
  gap: 8px;
  font-size: 12px;
}
.rank_lists .list .list_txt {
  display: flex;
  gap: 8px;
}
.rank_lists .list .list_right {
  display: flex;
  gap: 8px;
  align-items: center;
}
.rank_lists .list .list_right .list_n {
  font-size: 11px;
  opacity: 60%;
}
.rank_lists .list .list_right .list_n_m {
  position: relative;
  right: -2px;
  opacity: 60%;
}
.rank_lists .list .list_right .list_arrow_up {
  rotate: 90deg;
  padding-top: 1px;
  font-weight: 600;
  color: orangered;
}
.rank_lists .list .list_right .list_arrow_down {
  rotate: -90deg;
  font-weight: 600;
  color: blue;
}
.rank_lists .list .list_right .list_arrow_m {
  padding-right: 1px;
  font-size: 12px;
  font-weight: 600;
  opacity: 60%;
}
.rank_lists .list .numb {
  background-color: #39342f;
  padding: 1px 4px;
  color: hsla(0, 0%, 100%, 0.92);
}
.rank .rank_etc {
  text-align: right;
  padding-bottom: 16px;
}
.rank .rank_etc a {
  font-size: 12px;
  color: hsla(30, 10%, 20%, 0.6);
}/*# sourceMappingURL=style.css.map */