@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@function size-calc($base) {
  $value: calc(#{$base} * (100vw / 1440));
  @return $value;
}

html {
  scroll-behavior: smooth;
}

$dark: #1f1b16;
$white: #faf8f5;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // color-scheme: light dark;
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}

.section {
  max-width: 108rem;
  margin-inline: auto;
  word-break: keep-all;
  word-wrap: break-word;
}
.container {
  margin-inline: 3rem;
}
.nav {
  position: sticky;
  z-index: 1;
  top: 0rem;
  margin: auto;
  padding-inline: 0;
  background-color: $dark;
  color: $white;
  container-type: inline-size;
  container-name: nav;
  .buttonWrapper {
    height: 4.0625rem;
    padding-block: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo,
    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: -0.02em;
      color: $white;
      text-decoration: none;
    }
  }
  // &__logo {
  //   padding-inline: 0;
  //   background-color: #1e1a1b;
  // }
  &__button {
    display: flex;
    gap: 5rem;
  }
  // 평상시 menu 안 보이도록
  .lt820px {
    display: none;
  }
  @container nav (width<62.5rem) {
    &__button {
      display: none;
    }
    // 일정 사이즈되면 menu 보이도록 가운데 정렬 포기..
    .lt820px {
      display: unset;
      img {
        width: 2.25rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.main {
  .container {
    $p-inline-val: 3rem;
    $p-block-val: 11.25rem;
    margin-inline: auto;
    padding-inline: $p-inline-val;
    padding-block: $p-block-val;
    &#video {
      padding-inline: unset;
      padding-block: unset;
    }
  }
  &__video {
    overflow: hidden;
    margin: 0px auto;
    // position: relative;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.nav__button a {
  transition: opacity 0.3s ease;
}

.nav__button a:hover {
  opacity: 0.68;
}
// section about 시작
.about__info {
  text-align: center;
  letter-spacing: -0.02em;
  color: $dark;
  img {
    max-width: 100%;
    height: auto;
    padding-bottom: 36px;
    margin-top: 80px;
  }
  p {
    $p-block-val: 2.5rem;
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-weight: 500;
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: -1.5px;
  }
  a {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-weight: 700;
    font-size: 1.25rem;
    color: $white;
    text-decoration: none;
  }
}

#btn:hover {
  background-color: #885200;
  transform: scale(1.05);
  transition: background-color 0.3s ease;
  transition-delay: transform 0.6s;
}
.about__linkButton:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

.enter1 {
  margin-inline: auto;
  width: fit-content;
  background-color: $dark;
  padding: 0.75rem 2.5rem;
  border-radius: 2.125rem;
}

// about_etc 시작
#a_2 {
  background: $dark;
  .contents {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    .content {
      display: flex;
      margin-inline: auto;
      flex-wrap: wrap;
      p {
        color: $white;
        font-size: 100px;
        font-family: "Spoqa Han Sans Neo", "sans-serif";
        font-weight: 500;
        letter-spacing: -2px;
      }
      #c_img1 {
        width: 30.875rem;
        height: 30.875rem;
        object-fit: cover;
        margin-left: 195.2px;
      }
      #c_img2 {
        width: 30.875rem;
        height: 46.2509rem;
        object-fit: cover;
        margin-right: 105.2px;
      }
      #c_img3 {
        height: 30.875rem;
        width: 46.2509rem;
        object-fit: cover;
        margin-left: 9.0931rem;
      }
      #c_txt {
        text-align: right;
      }
    }
  }
}

//slideshow 시작
ul,
li {
  list-style: none;
}

.slidebox {
  max-width: 850px;
  margin: 0 auto;
  position: relative;
}
.slidebox .slidelist {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}
.slidebox .slidelist .slideitem {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 100%;
  transition: all 1s;
}
.slidebox .slidelist .slideitem > a {
  display: block;
  width: auto;
  position: relative;
}
.slidebox .slidelist .slideitem > a img {
  max-width: 100%;
}

.slidebox .slide-control [class*="control"] label {
  position: absolute;
  z-index: 10;
  top: 63%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.slidebox .slide-control [class*="control"] label.prev {
  left: -60px;
  background: #f2f2f2 url("../img/left.png") center center / 50% no-repeat;
  z-index: 0;
}
.slidebox .slide-control [class*="control"] label.next {
  right: -60px;
  background: #f2f2f2 url("../img/right.png") center center / 50% no-repeat;
  z-index: 0;
}

label.prev:hover,
label.next:hover {
  opacity: 0.68;
  transition: opacity 0.3 ease;
}
[name="slide"] {
  display: none;
}
#slide01:checked ~ .slidelist .slideitem {
  left: 0;
}
#slide02:checked ~ .slidelist .slideitem {
  left: -100%;
}
#slide03:checked ~ .slidelist .slideitem {
  left: -200%;
}
#slide04:checked ~ .slidelist .slideitem {
  left: -300%;
}
.slide-control [class*="control"] {
  display: none;
}
#slide01:checked ~ .slide-control .control01 {
  display: block;
}
#slide02:checked ~ .slide-control .control02 {
  display: block;
}
#slide03:checked ~ .slide-control .control03 {
  display: block;
}
#slide04:checked ~ .slide-control .control04 {
  display: block;
}

// section hover 시작
.about__hover {
  text-align: center;
  letter-spacing: -0.02em;
  color: $dark;
  h1 {
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 4.5rem;
  }
  .v-hover {
    display: block;
    height: 44.5rem;
    .v1 {
      position: relative;
    }
    .v1:hover img:last-child {
      opacity: 0;
    }
    .v2 {
      position: relative;
      margin-left: 34.5rem;
    }
    .v2:hover img:last-child {
      opacity: 0;
    }
    .v3 {
      position: relative;
      margin-left: 69rem;
    }
    .v3:hover img:last-child {
      opacity: 0;
    }
  }
  img {
    display: block;
    position: absolute;
    transition: opacity 0.5s;
    overflow: hidden;
  }
}

// service 시작
#service_bg {
  background-color: #faf8f5;
}
.about__service {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  .service_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem;
    }
    img {
      width: 3.75rem;
    }
  }
  .txt_p {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
  }
  .service_txt {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  #details {
    padding-bottom: 2.5rem;
    font-size: 0.875rem;
    font-weight: 300;
  }
  #detail {
    color: #3ea6ff;
    padding-bottom: 5rem;
  }
  .test_button {
    margin-inline: auto;
    max-width: 12.25rem;
  }
  .enter2 {
    margin-inline: auto;
    padding: 0.75rem 2.5rem;
    border: 1px solid $dark;
    border-radius: 2.125rem;
    a {
      text-decoration: none;
      font-family: "Spoqa Han Sans Neo", "sans-serif";
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: -0.025rem;
      color: $dark;
    }
  }
  .test_button:hover {
    .enter2 {
      background-color: $dark;
      transition: background-color 0.2s ease;
      a {
        color: $white;
        transition: color 0.2s ease;
      }
    }
  }
  .plugins {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .plugin {
      max-width: 17.5rem;
      padding-block: 1rem;
      padding-inline: 2rem;
      p {
        padding-top: 1.5rem;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4rem;
      }
    }
  }
}

#history {
  background-color: $dark;
  .about__history {
    text-align: center;
    letter-spacing: -0.02em;
    color: $white;
    h1 {
      text-transform: capitalize;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 4rem;
    }
    &_boards {
      padding-left: 10vw;
      padding-top: 80px;
      .board {
        padding-bottom: 120px;
        .year {
          background-color: #885200;
          width: 67px;
          padding: 8px 12px;
          font-family: "Montserrat", sans-serif;
          color: $white;

          border-radius: 999px;
          margin-bottom: 20px;
        }
        &_txt {
          display: flex;
          p {
            color: $white;
            font-size: 1.5rem;
            font-family: "Spoqa Han Sans Neo", "sans-serif";
          }
          .month {
            padding-left: 14px;
            padding-right: 48px;
          }
          .did {
            padding-right: 12px;
          }
          .arrow_r {
            padding: 4px;
            font-size: 18px;
          }
        }
        .txt_gap {
          padding-bottom: 0px;
          padding-bottom: 20px;
        }
      }
    }
  }
}

.about__news {
  text-align: center;
  letter-spacing: -0.02em;
  color: $dark;
  h1 {
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 4.5rem;
  }
}

.about__servicelink {
  height: 41.5rem;
  background-color: #d7d7d7;
  text-align: center;
  letter-spacing: -0.02em;
  color: $dark;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4.25rem;
    padding-top: 11.25rem;
  }
  p {
    $p-block-value: 1.5rem;
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-weight: 600;
    font-size: 3rem;
    line-height: 64px;
    // padding-top: $p-block-value;
    padding-bottom: $p-block-value;
  }
  a {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -0.02em;
    color: $white;
    text-decoration: none;
  }
  .about__linkButtons {
    margin-inline: auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1.25rem;
  }
}

.footer {
  background-color: grey;
  color: $white;
  font-size: 0.875rem;
  container-type: inline-size;
  container-name: footer;
  a {
    text-decoration: none;
    color: $white;
  }
  li {
    list-style: none;
  }
  svg {
    fill: $white;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  h2 {
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  &__logo {
    margin-bottom: 0.75rem;
  }
  &__extLinkWrap {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  @container footer (width < 71.25rem) {
    .column:first-of-type {
      grid-row: 1 / span 2;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .column {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
  }
}
